body {
    background-color: black;
    background-image: url('../images/wine.jpeg');
    background-size: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    padding: 20px;

  }
  .logo-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: white;

  }
  .section {
    padding: 10px;
    font-size:smaller;
    margin-bottom: 10px;
}