body {
    background-color: black;
    background-image: url('../images/wine.jpeg');
    background-size: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    padding: 20px;

  }
  .logo-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: white;

  }
  .section {
    padding: 10px;
    font-size:smaller;
    margin-bottom: 10px;
}
.pageMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}
.pageMenu ul li a {
    color: white;
}
.menu h2 {
    font-size: 24px;
    color: white;
}
p{
    font-size: medium;
}
.item {
    margin-bottom: 30px;
}
.item p {
    margin-top: 5px;
}
#book h2 {
    font-size: 24px;
}
#book {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
  
#bookingForm label {
    display: block;
    margin-bottom: 5px;
    color: white;
}
#bookingForm input,
#bookingForm button {
    margin-bottom: 10px;
}

#cancelButton {
    margin-left: 10px;
}